// *************************************
//
//   Colours
//
// *************************************

$red: #8C271E;
$dust: #ABA194;
$grey: #CFCBCA;
$gray: $grey;
$dark-grey: #333;
$dark-gray: $dark-grey;
$orange: #FF7F11;


$primary-colour: $red;
$secondary-colour: $dust;
$highlight-colour: $orange;
$navigation-background-colour: $dark-gray;
